.edit-color {
  color: #35baf6 !important;
  /* margin-right: 1rem; */
}

.delete-color {
  color: red !important;
}

.logo {
  width: 80px;
  height: 80px;
}

.icon-button {
  font-size: 15px;
}

.icon-background {
  background-color: #2979ff;
  color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.icon-background:hover {
  background-color: #2979ff;
}
