.pending-status {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #2979ff;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.resolved-status {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #31de79;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.button-color {
  background-color: #31de79;
  border-radius: 8px;
}

.button-color:hover {
  background-color: #31de79;
}

.attachments {
  width: 50px;
  height: 50px;
  border-radius: 7px;
}
