.logo-nav {
  width: 40px;
  height: 40px;
}

.logo-sm {
  width: 30px;
  height: 30px;
}

.nav-link {
  margin: 2px 5px;
  color: black;
  display: block;
  text-decoration: none;
}

.menu {
  margin-top: 45px;
}

.fa-light {
  font-size: 0.5em;
  color: black;
}

.active {
  border-bottom: 3px solid #2979ff;
  color: black;
}
