.view {
  color: #2979ff;
}

.view:hover {
  cursor: pointer;
}

.img {
  height: 40px;
  width: 40px;
}

.pending {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-color: #2979ff;
  border-radius: 50%;
  display: inline-block;
}

.resolved {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-color: #31de79;
  border-radius: 50%;
  display: inline-block;
}

.rejected {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-color: #d50000;
  border-radius: 50%;
  display: inline-block;
}
