.header-right {
  padding: 8px;
}

.header-border {
  border-bottom: 1px solid #e0e0e0;
}

.save-btn {
  background: #31de79;
}

.save-btn:hover {
  background: #31de79;
}

.profile-img {
  height: 70px;
  width: 70px;
}

.input-img {
  display: none;
}

.caption {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.upload-icon {
  height: 13px;
}
